<div class="nested-fields">
  <div class="input string">
    <%= f.input :time, 
      label: false, 
      as: :string, 
      wrapper: false,
      input_html: { 
        class: 'datetimepicker', 
        value: f.object.time
      } 
    %>
    <%= link_to_remove_association "remove", f %>
  </div>
</div>
