<div id="session-details" class="content-section">
	<h2>Update Session Details</h2>
	<% form_for @session, :url => { :action => "update" }, :html => { :multipart => true } do |f| %>
		<%= render :partial => "form_fields", :locals => { :f => f }%>
		<br/><%= submit_tag "Make Changes" %>
		<%= link_to "Cancel", @session %>
	<% end %>
</div>	

<%= render :partial => "new_instructor_dialog", :locals => { :session => @session }%>
