<div id="session-details" class="content-section">
	<h2>Create New Session</h2>
	<% form_for( [ @session.topic, @session ] ) do |f| %>
		<%= render :partial => "form_fields", :locals => { :f => f }%>
	
		<br/><br/>
	
		<%= submit_tag "Create Session"%>
		<%= link_to "Cancel", @session.topic %>
	<% end %>
</div>

<%= render :partial => "users/new_instructor_dialog", :locals => { :item => @session }%>
