<% if @sessions.count == 0 %>
  <div class="empty-list">
    <p>Sorry, there are no upcoming sessions at this time. Please check again later!</p>
  </div>
<% else %>
  <% @sessions.keys.sort.each do |site| %>
    <div class="content-section">
      <h2><%= site.name %></h2>
      <ul class="topic-list">
        <% @sessions[site].keys.sort {|a,b| a.name <=> b.name }.each do |topic| %>
          <li>
            <%= link_to topic.name, topic %>
            <div class="session-info">
              <span class="session-link"><%= link_to_session @sessions[site][topic] %></span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
