<% cache("#{sess_key}/#{date_slug}/#{sites_key}/topics/by_site", expires_in: 1.day) do %>
  <% @topics = Topic.upcoming.includes(:sessions) %>
  <% if @topics.blank? %>
    <div class="empty-list">
      <p>Sorry, there are no upcoming sessions at this time. Please check again later!</p>
    </div>
  <% else %>
    <% grouped_by_site(@topics) do |site, sessions| %>
      <div class="content-section">
        <h2><%= site.name %></h2>
        <ul class="topic-list">
          <% sessions.keys.sort_by {|a| a.name.downcase }.each do |topic| %>
            <% cache(["#{date_slug}/topics/by_site", topic], expires_in: 1.day) do %>
              <li>
                <%= link_to topic.name, topic %>
                <div class="session-info">
                  <span class="session-link"><%= link_to_session sessions[topic] %></span>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>
