<ul id="topic-list">
	<% @topics.each do |topic| %>
		<li>
			<%= link_to topic.name, topic %>
		</li>
	<% end %>
</ul>
	
<% if user_is_admin? %>
	<div class="newLink"><%= link_to "Create New Topic", new_topic_path %></div>
<% end %>