<% if @sessions.count == 0 %>
  <div class="empty-list">
    <p>Sorry, there are no upcoming sessions at this time. Please check again later!</p>
  </div>
<% else %>
  <% @sessions.keys.sort.each do |date| %>
    <div class="content-section">
      <h2><%= date.strftime('%A, %B %e, %Y') %></h2>
      <ul class="topic-list">
        <% @sessions[date].sort.each do |session| %>
          <li>
            <%= link_to session.topic.name, session.topic %>
  				  <div class="session-info"><%= link_to_session session, :print_date => false %></div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
