ul {
	list-style-type: square;
	line-height: 1.5em;
}


a, a:visited {
	color: #501214;
}

body {
	font-family: sans-serif;
}

dd {
	margin-bottom: 1em;
}

dt {
	font-weight: bold;
}

label {
	display:block;
	width: 100%;
	font-weight: bold;
}

#notification {
	padding: 1em;
	background-color: #33ff33;
	border: 2px solid black;
	font-weight: bold;
}

div.fieldWithErrors label {
	color: #bb0000;
}