@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-color: #290001;
  background-image: url(/images/space_background2.jpg);
  background-repeat:repeat-x;
  min-height: 100%;
  min-width: 1024px;
  background-attachment: fixed;
  background-position: 0% 100%;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
label {
  cursor: pointer;
}
input[type="radio"] {
  margin: 3px 0 3px 2px;
  padding: 0;
}

.serif {
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
  padding: .25em 0;
  font-weight: normal;
  color: #501214;

  }

dl {
    display: block;
    

}
h3 {
font-weight: bold;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
  font-size: .875em;
}
a:visited {
  text-decoration: none;
  color: #836c31;
}
a:link {
  color: #836c31;
  text-decoration: none;
  }
  
a:hover {
  color: #836c31;
  text-decoration:underline;
  }
a:active {color:#836c31;}

body {
  font-family: Palatino, 'Palatino Linotype', Times, 'Times New Roman', 'URW Bookman L', serif;
  margin: 0px;
  color: #000;
  line-height: 1.5em;
  text-align: left;
}

 dd  {
  font-size: .875em;
    padding-left: 1.5em;
    margin: 0;

}

dd p {
  font-size:inherit;
  
}

dt {
  font-weight: bold;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
  font-size: .875em;
  padding-top: .5em;

}

.topbanner {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 82px;
  background: url(/images/banner.jpg) repeat-x;
  z-index: 92;
}

.topbanner-shadow {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 16px;
  width: 100%;
  overflow: hidden;
  background: url(/images/banner-shadow.png) repeat-x;
}

.topbanner-content {
  position: relative;
  margin: 0px 60px;
  width: 962px;
  padding-left: 3px;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
}

.topbanner-content a {
  color: #501214;
  text-decoration: none;
  text-shadow: 1px 1px 1px #ddd;
}

.topbanner-homelink {
  display: block;
  width: 166px;
  height: 66px;
}

.topbanner-sitename {
  display: block;
  position: absolute;
  left: 210px;
  top: 25px;
  font-weight: bold;
  font-size: 1.7em;
  padding-bottom: 0.25em;
}

.topbanner-deptlink {
  display: block;
  position: absolute;
  left: 700px;
  top: 28px;
  font-weight: bold;
  font-size: 0.875em;
}

label.admin-netid-label {
  font-size: .875em;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
}

.field-label {
  margin-top: .75em;
  display:block;
  width: 100%;
  font-size: .875em;
  font-weight: bold;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
}

#notification {
  color: #000;
  border: 2px solid #94a74d;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 1.0em;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
  font-weight: bold;
  background-image: url(/images/check.gif);
  background-repeat: no-repeat;
  background-position: .5em center;
  padding-top: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 1.75em;
}

.inactive-topic-message {
  color: #B00;
  font-family: helvetica;
  font-weight: bold;
  border: 2px solid;
  margin: 10px;
  padding: 10px;
}

#error {
  color: #D00;
  border: 2px solid #D00;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 1.0em;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
  font-weight: bold;
  padding-top: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 1.75em;
}

.fieldWithErrors label {
  color: #bb0000;
}

.errorExplanation {
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;  
  border: 2px solid #bb0000;
  padding: 0.25em 0.5em;
  margin-top: 0.5em;
}

.errorExplanation h2 {
  color: #bb0000;
}

.errorExplanation ul {
  list-style: disc inside;
}

div.reservationCard {
  background-color: #eeeeaa;
  color: #000000;
  padding: 1em;
  margin-bottom: 1em;
}

div.reservationCard h2 {
  font-family: Palatino, 'Palatino Linotype', Times, 'Times New Roman', 'URW Bookman L', serif;
  font-style: italic;
/*  text-align: center;
*/  margin-top: 0px;
  font-size: 200%;
  font-weight: bold;
}

div.reservationContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

div.notice {
  font-style: italic;
  font-size: .813em;
}

div#group-by-dept {
  position: absolute;
  top: 2px;
  margin-left: 14em;  
}

input.submit-button {
  height: 3em;
  color: white;
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.confirm {
  background-color: #836c31;
  border: 1px solid #6C5828;
  -moz-border-radius: 15px;
  border-radius: 15px;

}

.delete {
  background-color: #501214;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.tentative {
  background-color: #666600;
}

.calendar {
  background-color: #4b4b4b;
  -moz-border-radius: 15px;
  border-radius: 15px;
  }

.button-link {
  display: block;
  width: 8em;
  color: white;
  margin-bottom: .5em;
  /*background-color: #836c31;
  border: 1px solid #6C5828;*/
  /*-moz-border-radius: 15px;
  border-radius: 15px;*/

  
}

a.register-button, input.register-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#333333 !important;
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
/*  font-size:15px;*/
	font-weight:bold;
	padding:3px 12px;
	text-decoration:none !important;
	text-shadow:1px 1px 0px #ffffff;
}a.register-button:hover, input.register-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}a.register-button:active, input.register-button:active {
	position:relative;
	top:1px;
}

input.register-button {
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 7px;
}

div.register-button {
  margin-top: .5em;
  margin-left: -.5em;
}

div.login-link {
  margin-top: 4px;
  margin-left: -22px;
}

div.login-link a {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 4px 32px;
  border: 1px solid #ababab;
}

div.login-link a:hover {
  border-color: #4b4b4b;
  background-color: #f6f6f6;
  text-decoration: none;
}

#session-details .notice {
  font-size: .9em;
}

#session-details a.download-link {
  padding-left: 20px;
}

.button-link a {
  display: block;
  padding: .25em;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: .75em;
  font-weight: normal;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
}

.delete-link a {
  padding: .25em 0;
  text-decoration: none;
  color: #501214;
  font-size: .85em;
  font-weight: normal;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
}

div#container {
  min-width: 920px;
  background-color: #FFF;
  margin-top: -22px;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
  padding: 20px 0px;
  min-height: 700px;
}

div.left-column {
  float: left;
  margin-top: 20px;
  width: 200px;
  
}

div#right-column {
  background-color: #FFF;
  margin-top: 20px;
  margin-left: 240px;
  margin-right: 40px;
  margin-bottom: 20px;
  min-height: 600px;
}

div.navigation {
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #F6F6F6;
  border: 2px solid #836C31;
  line-height: 2em;
  margin-left: -30px;
  width: 200px;
  padding: 0.5em 0.5em 0.5em 2.5em;
  opacity: 0.8;
  color: #4b4b4b;
}

div.navigation p {
  border-bottom: #4b4b4b dotted 1px;
  font-size: 1em;
}

div.navigation a {
  color: #6C5828;
}

div.navigation a.selected {
  font-weight: bold;
  color: #4b4b4b;
}

div.navigation a:link {
  text-decoration:none;
}
  
div.navigation a:hover {
  text-decoration:underline;
}


.logout-link {
  font-size: 70%;
}

div.sidebar {
  line-height: 2em;
  padding: 0em 0em 0em 0.65em;
  width: 216px;
  margin-top: 20px;
  margin-left: 0px;  
  margin-right: 0px;
}

div.admin-tools {
  background-color: #F6F6F6;
  border: 2px solid #4b4b4b;
  padding: 0.5em 0.5em 1.0em 0.5em;
  width: 190px;
  margin-top: 20px;
  margin-left: 10px;
  opacity: 0.8;
  color: #4b4b4b;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
  font-weight: bold;
  font-size: 1.1em;
}

div.admin-tools h1 {
  color: #501214;
  border-bottom: #501214 dotted 1px;
  padding-bottom: .25em;
  font-size: 1.2em;
}

div.admin-tools div {
  border-bottom: #501214 dotted 1px;
}

div.admin-tools h3 {
  line-height: 1em;
  margin-top: 0.5em;
}

div.admin-tools p {
  border-bottom: #501214 dotted 1px;
  padding: .5em 0;
}

div.admin-tools a {
  display: block;
  font-size: 16px;
  font-weight: normal;
  color: #6C5828;
}

div.admin-tools a.selected {
  font-weight: bold;
  color: #4b4b4b;
}
    
div.admin-tools a:link {
  text-decoration:none;
}

div.admin-tools a:hover {
  text-decoration:underline;
}

div.view-person {
  padding-bottom: .5em;
}

div#contents {
  position: relative;
  margin-top: 0px;  
  margin-left: 20px;
  margin-right: 40px;
}

div#contents h1 {
  margin-top: 0px;
  font-size: 1.5em;
  font-weight: normal;
  color: #501214;
  border-bottom-width: 2px;
  /*border-bottom-style: dotted;*/
  border-bottom-color: #501214;
}

div.empty-list {
  padding: 1em;
  padding-left: .5em;
}

.content-section {
  margin: 1em 0 2em 0;
}

.content-section dl {
  margin-top: -.5em;
}

.content-section h2 {
  margin-bottom: 1em;
  padding-bottom: 2px;
  font-size: 1em;
  font-weight: bold;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #501214;
}
  
div.survey-result {
  margin: 0.5em 0 1em 0;
}

div.survey-comments {
  margin: 2.5em 0 1em 0;
}

div.survey-comments li {
  max-width: 685px;
  margin: 1em .25em 0 .25em;
  padding: .25em .5em .5em;
  background-color: #F6F6F6;
  border: 1px solid #4B4B4B;
  border-bottom: 1px solid #3B3B3B;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2),inset 1px 1px #fff;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2),inset 1px 1px #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2),inset 1px 1px #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

div.survey-comments div.list-expand, div.survey-comments div.list-collapse {
  margin-left: .25em;
  margin-top: 1em;
}

ul#topic-list, ul#department-list {
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
  font-size: .875em;
}

ul#topic-list li, ul#department-list li  {
  display: block;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #836c31;
  padding: 0.5em 0;
}

ul#topic-list li a:link, ul#department-list li a:link  {
  display: block;
  text-decoration: none;
  color: #836c31;
  
}

ul#topic-list li a:hover, ul#department-list li a:hover {
  text-decoration: underline;
}

ul#topic-list li div.session-info {
  font-size: 80%;
  margin-top: -0.5em;
}


.session-list ul {
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
  font-size: .875em;
}

.session-list li {
  text-decoration: none;
  padding-left: 1.5em;

}

.session-list li a:link {
  color: #836c31;
}

.session-list li a:hover, ul.reservation-list a:hover {
  
  text-decoration: underline;
}

ul.attendance-list li {
}

.session-list li a:visited, ul.reservation-list li {

  color: #4b4b4b;
}

.session-list li a:active {
  color: #836c31;
  text-decoration: none;
}

div.list-expand, div.list-collapse {
  margin-left: 1.75em;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
  font-size: .8em;  
  padding-right: 16px;
}

table.attendance-list {
  margin-top: -1em;
  width: 100%;
}

table.attendance-list tr {
  height: 3.5em;
}

table.attendance-list tr.even {
  background-color: #f6f6f6;
}

table.attendance-list td {
  padding: 4px 8px;
  border-bottom: 1px #C6C6C6 solid;
}

table.attendance-list .attendance-radios {
  width: 216px;
  border-left: 1px #C6C6C6 solid;
}

table.attendance-list .attendance-actions {
  width: 40px;
  text-align: center;
  border-left: 1px #C6C6C6 solid;
}

.special-accommodations {
  font-style: italic;
  font-size: 80%;
  width: 326px;
  cursor: pointer;
}

.special-accommodations.collapsed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2em;
}

table.attendance-list a.remind-link,
table.attendance-list a.cancel-link {
    display: inline-block;
    color: transparent;
    width: 16px;
    height: 26px;
}

table.attendance-list a.remind-link {
    background: url(/images/time_go.png) center no-repeat;
}

table.attendance-list a.cancel-link {
    background: url(/images/delete.png) center no-repeat;
}

.attendance-submit {
  float: right;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

ul.reservation-list {
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
  font-size: 1em;
}

ul.reservation-list li {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #836c31;
  padding-left: .25em;
  padding-bottom: .5em;
  margin-top: .75em;
  margin-bottom: 1em;
}

ul.reservation-list li:last-child {
  border: none;
} 

div.reservation-group {
  margin-top: 1em;
  margin-bottom: 2em;
}

div.reservation-group h2 {
  border-bottom: 2px solid #501214;
}

div.reservation-group a.topic {
  display: block;
}

div.reservation-group a.date {
  display: block;
  color: #000;
  font-size: .9em;
  margin-bottom: 1em;
  margin-left: .5em;
}

div.reservation-group div.survey-link {
  margin-left: -.2em;  
}

div.reservation-group a.survey-link {
  color: #501214;
  font-size: .9em;
  margin-top: 1em;
}

div.reservation-group .reservation-actions {
  margin-top: -.5em;
  margin-left: .6em;
  font-size: .95em;
}

.download-link, .edit-reservation-link {
  background-repeat: no-repeat;
  background-position: 0px 50%;
}

.download-link a, .edit-reservation-link a {
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
  padding-left: 25px;
  font-size: .85em;
}

.edit-reservation-link {
  background-image:  url(/images/email_go.png);
}

.download-calendar {
  background-image:  url(/images/cal.gif);
}

.download-csv {
  background-image:  url(/images/csv.gif);
}

div.admin-options {
  background-color: #f6f6f6;
  border: #4b4b4b dotted 2px;
  padding: .25em;
  clear: both;
  margin-left:0px;
  margin-right:0px;
}

div.admin-options h2 {
  font-family: Palatino, 'Palatino Linotype', Times, 'Times New Roman', 'URW Bookman L', serif;
  color: #501214;
  font-size: 1.25em;
  padding-top: .5em;
  padding-right: 0em;
  padding-bottom: 0em;
  padding-left: .5em;
}

div.admin-options h3 {
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
  color: #501214;
  font-size: 1em;
}

div.admin-options strong {
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
  font-weight: bold;
  color: #501214;
}

#cancel-session-dialog {
  width: 500px;
  padding: 2em;
}

#cancel-session-dialog p {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

#cancel-session-dialog input[type=submit] {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

span.radio-span {
  margin: 4px;
  padding: 0;
  white-space: nowrap;
}

form#new_survey_response h2 {
  margin: 2em 0;
}

.survey-question {
  margin-top: 2em;
}

.survey-question span.radio-span {
  margin-right: 5em;
}

.admin-section {
  background-color: white;
  margin: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-border-radius: 1em;
}

.admin-sectionSurvey {
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: white;
  border: #836c31 solid 2px;
  margin: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-border-radius: 1em;
}

.admin-sectionSession {
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: white;
  border: #501214 solid 2px;
  margin: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-border-radius: 1em;
}

.admin-sectionTopic {
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: white;
  border: #501214 solid 2px;
  margin: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-border-radius: 1em;
}

div.workshop-materials .fields {
  height: 25px;
  line-height: 25px;
  font-size: .95em;
}

div.workshop-materials .document {
  color: #000000;
  margin-right: 15px;
}

#display-comments {
  font-style: italic;
  font-size: .813em;
}

.big-calendar-image {
  float:left;
  margin-right:1em;
}

.title-image {
  vertical-align: top;
  margin-right: 10px;
}

ul.instructor-list {
  padding-left: 0;
/*  margin-top: 0.5em;*/
  margin-bottom: 0;
  list-style: none;
}

ul.instructor-list li {
/*  padding-bottom: 0.5em;*/
}

#contents div.dialog {
  margin-left: 4em;
}

div#manage-departments {
  margin: 20px 0;
  width: 600px;
}

div#manage-departments ul {
  margin-top: -1em;
}

div#manage-departments li {
  padding: 10px 6px;
  border-bottom: 1px solid #C6C6C6;
}

div#manage-departments li.even {
  background-color: #F6F6F6;
}

div#manage-topics ul.actions {
  background-color: #F6F6F6;
  border: 1px solid #C6C6C6;
  padding: 6px;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
  font-size: 0.9em;
  list-style: disc inside;
}

div#manage-topics table {
  margin-top: -1em;
  width: 100%;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
  font-size: 0.9em;
}

div#manage-topics thead tr {
  font-size: .9em;
  font-weight: bold;
}
div#manage-topics thead .topic-date {
  text-align: center;
}

div#manage-topics tr {
  padding: 10px 6px;
  border-bottom: 1px solid #C6C6C6;
}

div#manage-topics tr.even {
  background-color: #F6F6F6;
}

div#manage-topics .topic-name {
  padding: 1px 5px;
}

div#manage-topics .topic-date {
  width: 138px;
  text-align: right;
  border-left: 1px #C6C6C6 solid;
  padding-right: 8px;
}
div#manage-topics .topic-date .empty {
  text-align: center;
}

div#manage-topics .topic-count {
  width: 100px;
  text-align: center;
  border-left: 1px #C6C6C6 solid;
}

div#manage-topics div.empty-list {
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
  font-size: .9em;
  margin-top: -1em;
  padding: 0 .5em;
}

div#delete-topic p {
  padding-bottom: 6px;
}

div#delete-topic p.confirmation {
  font-weight: bold;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', serif;
}

div#delete-topic a.delete-button {
  color: #B00 !important;
  margin-top: 15px;
  margin-right: 15px;
}
