<div class="nested-fields">
  <div class="input string">
    <%= f.input :name_and_login, #FIXME: autocomplete
      label: false, 
      as: :string, 
      wrapper: false,
      input_html: { 
        value: f.object.name_and_login
      } 
    %>
    <%= link_to_remove_association "remove", f %>
  </div>
</div>
