<% content_for :admin_tools do %>
  <% if @department && authorized?(@department) && !@department.new_record? && @department.topics.blank? %>
    <p>
      <%= link_to "Delete This Department", @department, method: :delete, 
      data: { confirm: "Are you sure you want to delete this department?" } %>
    </p>
  <% end %>
<% end %>

<%= render 'form' %>
