<% cache("departments/index", :tag => 'department-list')  do %>
  <ul id="department-list">
    <% Department.active.each do |department| %>
      <li>
        <%= link_to department.name, department %>
      </li>
    <% end %>
  </ul>
<% end %>
