<form method="get">
  <input type="submit" id="reminders0" name="reminders0" value="Send Reminders For Today"/><br/><br/>
  <input type="submit" id="reminders3" name="reminders3" value="Send Reminders For Three Days Out"/><br/><br/>
  <input type="submit" id="followups" name="followups" value="Send Followups For Completed Sessions"/><br/><br/>
</form>
