<% if model_object.survey_responses.size > 0 %>
	<div class="admin-section">
		<h3>Survey Results</h3>
		<div>Average Rating: <%= "%.2f" % model_object.average_rating %></div>
		<div>Average Instructor Rating: <%= "%.2f" % model_object.average_instructor_rating %></div>
		<div id="display-comments"><%= link_to_function "Display Comments", "javascript:Effect.BlindDown('comments');Effect.BlindUp('display-comments')" %></div>
		<ul id="comments" style="display: none">
			<% model_object.survey_responses.each do |survey_response| %>
				<% if !survey_response.comments.empty? %>
					<li class="comment"><%=h survey_response.comments %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
<% end %>
