@import 'variables.scss';

.attendance-list thead {
  @include sr-only;
}

.attendance-links {
  margin-top: -2em;
  margin-left: 1.5em;
  margin-bottom: 3em;

  a {
    font-size: 0.85em;
    font-family: $serif;
  }
}

#session-details p {
  margin: 0;
}

#session-details dd.in-past {
  color: #501214;
  font-weight: bold;
}

div.attendance-list {
  position: relative;

  .radio-all-wrap {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 12px;
    white-space: nowrap;
  }

  .radio-all-label {
    padding-right: 0.3em;
  }
}

table.attendance-list {
  margin-top: -1em;
  width: 100%;

  tr {
    height: 3.5em;

    &.even {
      background-color: $gray-bg;
    }
  }

  td {
    padding: 4px 8px;
    border-bottom: 1px $border-color solid;
    vertical-align: middle;
  }

  .attendance-radios {
    width: 216px;
    border-left: 1px $border-color solid;
  }

  .attendance-actions {
    width: 56px;
    text-align: center;
    border-left: 1px $border-color solid;
  }

  .special-accommodations {
    font-style: italic;
    font-size: 80%;
    width: 326px;
    cursor: pointer;
    margin: 0;
    
    &.collapsed {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 2em;
    }
  }

  .user-info {
    display: block;
    font-family: $sans-serif;
    font-size: 0.75em;
    line-height: 1.61803399;
  }

  a.email-link, a.remind-link, a.cancel-link {
    display: inline-block;
    width: 16px;
    height: 26px;
    border: 0; 
    font: 0/0 a; 
    text-shadow: none; 
    color: transparent; 
    background-color: transparent;
    vertical-align: middle;
  }

  a.email-link {
    background: image-url('email_go.png') center no-repeat;
  }

  a.remind-link {
    background: image-url('time_go.png') center no-repeat;
  }

  a.cancel-link {
    background: image-url('delete.png') center no-repeat;
  }

}

.attendance-submit {
  float: right;
  margin-top: 1em;
}

