// Place all the styles related to the survey_responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables.scss';

div.survey-result {
  margin: 0.5em 0 1em 0;
}

#survey-responses div.survey-comments {
  margin: 2.5em 0 1em 0;
  
  ul {
    list-style: none;
    padding: 0;

    li {
      max-width: 685px;
      margin: 1em 0;
      padding: .25em .5em .5em;
      background-color: $gray-bg;
      border: 1px solid $dark-border-color;
      border-bottom: 1px solid #3B3B3B;
      -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2),inset 1px 1px #fff;
      -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2),inset 1px 1px #fff;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2),inset 1px 1px #fff;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
    }
  }

  div.list-expand, div.list-collapse {
    margin-left: .25em;
    margin-top: 1em;
  }

}

div#survey-all-comments {
  margin: 0.5em 0 1em 0;
  
  ul {
    list-style: none;
    padding: 0;

    li {
      max-width: 685px;
      margin: 1em 0;
      padding: .25em .5em 1em 0;
      border-bottom: 1px solid $gray-bg;
      font-family: $sans-serif;
      font-size: 14px;
    }
  }
}

a.survey-breadcrumb {
  font-family: $sans-serif;
  font-size: 0.8em;
  margin-top: -0.5em;
  display: block;
}

a.survey-comments-link {
  font-family: $sans-serif;
  font-size: 0.8em;
}

.survey-question {
  label.radio {
    padding-right: 2em;
  }
}

textarea#survey_response_most_useful {
  width: 40em;
  height: 6em;
}

textarea#survey_response_comments {
  width: 40em;
  height: 12em;
}
