// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables.scss';

ul.topic-list, ul#department-list {
  margin-top: 1em;
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
  font-family: $sans-serif;
  font-size: .875em;


  li {
    display: block;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: $border-color;
    padding: 0.75em 0;

    a {
      text-decoration: none;
      color: $secondary-color;
      &:hover { text-decoration: underline; }
    }
    div.session-info {
      font-size: 80%;
      margin-top: -0.5em;
    }
  }  
}

div.content-section ul.topic-list {
  margin-top: -1em;
}

div#topic-list-nav {
  margin: 6px 0 12px;
  
  a {
    color: $dark-border-color;
    font-size: 0.9em;
    border-right: 1px dotted $dark-border-color;
    margin-right: 6px;
    padding-right: 10px;
    &:last-child {
      border: none;
      margin-right: 0;
      padding-right: 0;
    }
  }
} 

table#topic-grid {
  width: 100%;
  font-family: $sans-serif;
  color: $dark-border-color;
  table-layout: fixed;

  caption {
    border-bottom: none;
    color: $primary-color;
    font-weight: bold;
    a {
      color: $primary-color;
    }
  }
  
  td, th {
    border: 1px solid #8D8D8D;
    padding: 0 6px;
    width: 14.29%;
    font-size: .8em;
  }

  th {
    text-align: center;
    border: none;
  }

  td.cur-month .day {
    color: $dark-border-color;
  }

  td.today {
    background-color: $gray-bg;
    .day {
      color: $primary-color;
    }
  }

  td .day {
    text-align: right;
    color: #8D8D8D;
  }

  td .grid-cell-topic-list {
    min-height: 48px;
    font-size: .85em;
    div {
      line-height: 1.25em;
      padding: 5px;
    }
  }
}

.session-list {
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: $sans-serif;
    font-size: .875em;
  }

  li {
    text-decoration: none;
    padding-left: 1.5em;
  }
}

dd.topic-description p {
  margin-top: 0;
}

div#delete-topic {
  p {
    padding-bottom: 6px;
  
    &.confirmation {
      font-weight: bold;
      font-family: $sans-serif;
    }
  }

  a.delete-button {
    color: #B00 !important;
    margin-top: 15px;
    margin-right: 15px;
  }
}

div.documents {
  .nested-fields {
    height: 25px;
    line-height: 25px;
    font-size: .95em;
  }

  .document {
    color: #000000;
    margin-right: 15px;
  }
}

div#manage-topics {
  ul.actions {
    background-color: $gray-bg;
    border: 1px solid $border-color;
    padding: 6px;
    font-family: $sans-serif;
    font-size: 0.9em;
    list-style: disc inside;
  }

  h2 {
    margin: 0;
  }

  table {
    width: 100%;
    font-family: $sans-serif;
    font-size: 0.9em;
    border-top: 1px solid $border-color;
  }

  thead {
    tr {
      font-size: .9em;
      font-weight: bold;
    }
    .topic-date {
      text-align: center;
    }
  }
  
  tr {
    padding: 10px 6px;
    border-bottom: 1px solid $border-color;
  }

  tr.even {
    background-color: $gray-bg;
  }

  .topic-name {
    text-align: left;
    padding: 1px 5px;
  }

  .topic-instructors, .topic-site, .topic-date {
    border-left: 1px $border-color solid;
    padding-left: 8px;
  }

  .topic-date {
    width: 138px;
    text-align: right;
    padding-right: 8px;
    .empty {
      text-align: center;
    }
  }

  .topic-count {
    width: 100px;
    text-align: center;
    border-left: 1px $border-color solid;
  }

  div.empty-list {
    font-family: $sans-serif;
    font-size: .9em;
    padding: 0 .5em;
    border-top: 1px $border-color solid;
  }

  div.action-list {
    font-family: $sans-serif;
    font-size: .9em;
    padding: 0 .5em 0.25em;
    background-color: $gray-bg;
    border-bottom: 1px solid $primary-color;
    
    p {
      margin: 0;
    }
  }
}
