@import 'variables.scss';

ul.instructor-details {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 3em;
  font-family: $sans-serif;
  font-size: 0.85em;
  line-height: 1.61803399;
}

.instructor-session-list {
  margin-bottom: 1em;
  
  h3 {
    margin: 0;
  }
}

div#manage-users {
  table {
    margin-top: -1em;
    width: 100%;
    font-family: $sans-serif;
    font-size: 0.9em;
  }

  thead tr {
    font-size: .9em;
    font-weight: bold;
    text-align: left;
  }

  tr {
    padding: 10px 6px;
    border-bottom: 1px solid $border-color;
  }

  tr.even {
    background-color: $gray-bg;
  }

  .user-login {
    padding: 1px 5px;
    width: 19%;
  }

  .user-name, .user-email, .user-title, .user-department {
    width: 19%;
    border-left: 1px $border-color solid;
    padding-left: 3px;
  }

  .user-actions {
    width: 5%;
    border-left: 1px #C6C6C6 solid;
    padding-left: 3px;
  }
}

table.user-list {
  a.edit-link, a.delete-link {
    display: inline-block;
    width: 16px;
    height: 26px;
    border: 0; 
    font: 0/0 a; 
    text-shadow: none; 
    color: transparent; 
    background-color: transparent;
    vertical-align: middle;
  }
  a.edit-link {
    background: image-url('page_white_edit.png') center no-repeat;
  }

  a.delete-link {
    background: image-url('delete.png') center no-repeat;
  }
}

div#duplicate-user {
  margin: 1em 0;
  border: 2px solid $primary-color;
  padding: .5em;

  h3 {
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
    color: #b00;
  }

  a {
    text-decoration: underline;
  }
}
