$serif: Palatino, 'Palatino Linotype', Times, 'Times New Roman', 'URW Bookman L', serif;
$sans-serif: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;

$primary-color: #501214;
$secondary-color: #695627;
$text-color: #000;  
$border-color: #c6c6c6;
$dark-border-color: #4b4b4b;
