<%- if (File.exists?("#{Rails.root}/app/assets/images/logo.jpg")) -%>
  <%= link_to image_tag('logo.jpg', alt: t(:logo_alt)), logo_link_url, title: t(:logo_title), class: 'topbanner-homelink' %>
<%- end -%>

<a class="topbanner-sitename" href="<%= root_path %>"><%=t :site_name %></a>

<%- if (File.exists?("#{Rails.root}/app/views/layouts/_search.html.erb")) -%>
  <%= render 'layouts/search' %>
<%- end -%>
